.todo-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.action-top {
  display: flex;
  justify-content: space-between;

  .add-new {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 12px;
  }
}



.header {
  display: flex;
  justify-content: space-between;
}

.delete-all {
  color: blue;
  cursor: pointer;
  text-decoration: underline; /* Optional: adds an underline to mimic a link */
}

.delete-all:hover {
  color: darkblue; /* Optional: slightly darker blue on hover for a nice effect */
}

.tasks {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;

  .detail {
    max-width: 80%;
    text-align: justify;
    flex-grow: 1;

    .top {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      .card-title {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .current-progress {
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
      }

      .current-progress[data-progress="F"]::after {
        content: "Finished";
        color: green;
      }

      .current-progress[data-progress="R"]::after {
        content: "Removed";
        color: red;
      }

      .current-progress[data-progress="D"]::after {
        content: "Not Done";
        color: #8a7e6f;
      }

    }

    .card-text {
      font-size: 14px;
    }
  }

  .buttons {
    display: flex;
    gap: 16px;
  }
}


@media (max-width: 800px) {
  .todo-container {
    width: 100%;
  }
}
