/* You can add global styles to this file, and also import other style files */

:root {
  --bs-body-font-family: 'Open Sans', sans-serif;
  --bs-body-color: #000000;
  --bs-body-font-size: 16px;
  --bs-body-bg: #e3e0e0;
  --bs-border-color: #110f0f;
}

html,
body {
  scroll-behavior: smooth;
}

.btn-icon {
  cursor: pointer;
  color: black;
  transition: transform 0.3s ease, color 0.3s ease;
}

.btn-icon:hover {
  transform: scale(1.2);
  color: #007bff;
}

//buttons.css

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #008080;
  --bs-btn-border-color: #008080;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #006666;
  --bs-btn-hover-border-color: #006666;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #003f3f;
  --bs-btn-active-border-color: #006666;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #00b3b3;
  --bs-btn-border-color: #00b3b3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #008080;
  --bs-btn-hover-border-color: #008080;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #008080;
  --bs-btn-active-border-color: #008080;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.dropdown-item {
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-link-hover-bg: #045b5b;
  --bs-dropdown-link-active-bg: #023434;
  --bs-dropdown-link-active-color: #fff;
}
