/* You can add global styles to this file, and also import other style files */

:root {
  --bs-body-font-family: 'Open Sans', sans-serif;
  --bs-body-color: var(--color-text);
  // standard body font-size is 16px. don't change or it will screw up the entire bootstrap sizing.
  --bs-body-font-size: 16px;
  --bs-body-bg: #e3e0e0;
  --bs-border-color: #110f0f;
}

html,
body {
  scroll-behavior: smooth;
}
